@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" />
    </Found>
    <NotFound>
        <p>Sorry, the page you requested could not be found.</p>
    </NotFound>
</Router>